@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-warm-bg: #FDFCF8;
  --color-warm-accent: #D4A373;
  --color-warm-soft: #FAEDCD;
  --color-warm-green: #E9EDC9;
  --color-warm-text: #5A5A40;
}
